body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.user {
  font-family: sans-serif;
  font: normal;
  font-size: 12px;
  width: 20rem;
  margin: auto;
  background-color: antiquewhite;
}
